.mdl-card {
    width: 100%;
    padding: 16px;
}

.mdl-card form .mdl-textfield {
    width: 100%;
}

#courses {
    overflow-x: scroll;
}

#courseTable {
    width: 100% !important;
}

#courseTable>tbody>tr>td {
    vertical-align: middle !important;
}
