.mdl-card {
    width: 100%;
    max-width: 896px;
    margin: auto;
    padding: 16px;
}

.mdl-card form .mdl-textfield {
    width: 100%;
}

#feedback-table {
    width: 100% !important;
}

#feedback-table>tbody>tr>td {
    white-space: normal;
    vertical-align: middle !important;
}
